{% extends 'shop/base.html' %}
{% load static%}
{% block title %}Contact{% endblock %}
{% block content %}
<section id="page-header" class="about-header">
    <h2>#let's_talk</h2>
    <p>Để lại lời nhắn cho chúng tôi, chúng tôi cần góp ý từ bạn!</p>
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Xóa</td>
                <td>Hình ảnh</td>
                <td>S.phẩm</td>
                <td>Đ.Giá</td>
                <td>S.lượng</td>
                <td>Tổng</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class='bx bx-x-circle'></i></td>
                <td><img src="{% static 'img/products/f1.jpg' %}" alt=""></td>
                <td>Cartoon Astronaut T-Shirts</td>
                <td>₹2499</td>
                <td><input type="number" value="1"></td>
                <td>₹2499</td>
            </tr>
            <tr>
                <td><i class='bx bx-x-circle'></i></td>
                <td><img src="{% static 'img/products/f2.jpg' %}" alt=""></td>
                <td>Cartoon Astronaut T-Shirts</td>
                <td>₹2499</td>
                <td><input type="number" value="1"></td>
                <td>₹2499</td>
            </tr>
            <tr>
                <td><i class='bx bx-x-circle'></i></td>
                <td><img src="{% static 'img/products/f3.jpg' %}" alt=""></td>
                <td>Cartoon Astronaut T-Shirts</td>
                <td>₹2499</td>
                <td><input type="number" value="1"></td>
                <td>₹2499</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Mã giảm giá</h3>
        <div>
            <input type="text" placeholder="Nhập mã giảm giá">
            <button class="normal">Sử dụng</button>
        </div>
    </div>

    <div id="subtotal">
        <h3>Giỏ hàng</h3>
        <table>
            <tr>
                <td>Tổng tiền</td>
                <td>₹7399</td>
            </tr>
            <tr>
                <td>Phí giao hàng</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Thành tiền</strong></td>
                <td><strong>₹7399</strong></td>
            </tr>
        </table>
        <button class="normal">Thanh toán</button>
    </div>
</section>
{%endblock%}