{% extends 'shop/base.html' %}
{% load static%}
{% block title %}Contact{% endblock %}
{% block content %}
<section id="page-header" class="about-header">
    <h2>#let's_talk</h2>
    <p>Để lại lời nhắn cho chúng tôi, chúng tôi cần góp ý từ bạn!</p>
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Xóa</td>
                <td>Hình ảnh</td>
                <td>Sản phẩm</td>
                <td>Đơn Giá</td>
                <td>Só lượng</td>
                <td>Tổng</td>
            </tr>
        </thead>
        <tbody>
            {% if cart and cart.items.all %}
                {% for item in cart.items.all %}
                <tr>
                    <td>
                        <button class="delete-btn" data-item-id="{{ item.id }}"><i class='bx bx-trash'></i></button>
                    </td>
                    <td><img src="{{ item.product.image_url }}" alt="{{ item.product.name }}"></td>
                    <td>{{ item.product.name }}</td>
                    <td class="price-cell" data-price="{{ item.product.price }}">₫{{ item.product.price }}</td>
                    <td>
                        <input type="number" class="quantity-input" data-item-id="{{ item.id }}" value={{ item.quantity }} min=1>
                    </td>
                    <td class="total-cell">₫{{ item.get_total_price }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Your cart is empty.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Mã giảm giá</h3>
        <div>
            <input type="text" placeholder="Nhập mã giảm giá">
            <button class="normal">Sử dụng</button>
        </div>
    </div>

    <div id="subtotal">
        <h3>Giỏ hàng</h3>
        <table>
            <tr>
                <td>Tổng tiền</td>
                <td>{{ cart.get_cart_total }}₫</td>
            </tr>
            <tr>
                <td>Phí giao hàng</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Thành tiền</strong></td>
                <td><strong>{{ cart.get_cart_total }}₫</strong></td>
            </tr>
        </table>
        <button class="normal">Thanh toán</button>
    </div>
</section>
{%endblock%}