{%load static%}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <link rel="stylesheet" href="{%static 'fontawesome/css/all.min.css'%}">
    </head>
    <body>
        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                <h4>Liên hệ với chúng tôi</h4>
                <p><strong>Địa chỉ: </strong>Khoa CNTT, đường số 6, p. Linh Trung, q.Thủ Đức, tp.Thủ Đức</p>
                <p><strong>SĐT: </strong>028 8789 8789 /089 131 313</p>
                <p><strong>Thời gian làm việc: </strong>Thứ 2 - Thứ 6: 9.00am - 6.00pm</p>
                <div class="follow">
                    <h4>Theo dõi chúng tôi tại đây</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <h4>About</h4>
                <a href="#">About Us</a>
                <a href="#">Delivery Information</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Contact Us</a>
            </div>
        
            <div class="col">
                <h4>Account</h4>
                <a href="#">Đăng nhập</a>
                <a href="#">Xem giỏ hàng</a>
                <a href="#">Sản phẩm yêu thích</a>
                <a href="#">Theo dõi đơn hàng</a>
                <a href="#">Trợ giúp</a>
            </div>
        
            <div class="col install">
                <h4>Cài đặt ứng dụng của chúng tôi</h4>
                <p>Trên App Store hoặc Google Play</p>
                <div class="row">
                    <img src="{% static 'img/pay/app.jpg' %}" alt="">
                    <img src="{% static 'img/pay/play.jpg' %}" alt="">
                </div>
                <p>Secured Payment Gateways</p>
                <img src="{% static 'img/pay/pay.png' %}" alt="">
            </div>
        
            <div class="copyright">
                <p>&copy; 2021, Tech2 etc - HTML CSS Ecommerce Template</p>
            </div>
        </footer>
        
        <script src="{%static 'js/script.js' %}%" async defer></script>
    </body>
</html>
