{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<section id="page-header">
    <h2>#stayhome</h2>
    <p>Tiết kiệm với mã giảm giá lên đến 70% khi đặt hàng tại nhà!!</p>
</section>

{% if query %}
    <p class="search-result">Showing results for: <strong>{{ query }}</strong></p>
{% endif %}

<section id="product1" class="section-p1">
    <div class="pro-container">
        {% if products %}
            {% for product in products %}
            <div class="pro">
                <div class="img-container">
                    <a href="{% url 'product_detail' product_id=product.id %}">
                        <img src="{{ product.image_url }}" alt="{{ product.name }}">
                    </a>
                </div>
                <div class="des">
                    <span>{{ product.brand }}</span>
                    <h5>{{ product.name }}</h5>
                    <div class="star">
                        {% for i in ""|ljust:product.rating %}
                            <i class='bx bxs-star'></i>
                        {% endfor %}
                    </div>
                    <h4>₫{{ product.formatted_price }}</h4>
                </div>
                <button onclick=addToCart({{ product.id }})>
                    <i class='bx bx-cart cart'></i>
                </button>
            </div>
            {% endfor %}
        {% else %}
            <p>No products found for "<strong>{{ query }}</strong>". Please try a different search term!</p>
        {% endif %}
    </div>
</section>
<section id="pagination" class="section-p1">
    {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}&search={{ query }}">«</a>
    {% endif %}
    {% for page_num in products.paginator.page_range %}
        <a href="?page={{ page_num }}&search={{ query }}"
           class="{% if products.number == page_num %}active{% endif %}">
           {{ page_num }}
        </a>
    {% endfor %}
    {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}&search={{ query }}">»</a>
    {% endif %}
</section>
{% endblock %}