{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<section id="product1" class="section-p1">
    <div class="pro-container">
        {% if products %}
            {% for product in products %}
            <div class="pro">
                <div class="img-container">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                </div>
                <div class="des">
                    <span>{{ product.brand }}</span>
                    <h5>{{ product.name }}</h5>
                    <div class="star">
                        {% for i in ""|ljust:product.rating %}
                            <i class='bx bxs-star'></i>
                        {% endfor %}
                    </div>
                    <h4>₫{{ product.price }}</h4>
                </div>
                <a href="#"><i class='bx bx-cart cart'></i></a>
            </div>
            {% endfor %}
        {% else %}
            <p>No products available.</p>
        {% endif %}
    </div>
</section>
<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class='bx bx-right-arrow-alt'></i></a>
</section>
{% endblock %}